[submodule "scripts"]
	path = scripts
	url = https://github.com/Sannel/Sannel.House.BuildScripts.git
[submodule "build/tasks"]
	path = build/tasks
	url = https://github.com/Sannel/Sannel.House.BuildScripts.git
