version: '3.4'

services:
  gateway:
    image: ${DOCKER_REGISTRY}${ImageName}:${BuildType}-${SANNEL_VERSION}-${SANNEL_ARCH}
    build:
      context: .
      dockerfile: src/Sannel.House.Gateway/Dockerfile
    ports:
      - "443:443"
    networks:
      housenet:
    depends_on:
      - users
      - devices

  users:
    image: ${DOCKER_REGISTRY}sannelhouseusers:beta
    networks: 
      housenet:
        aliases:
          - "house.dev.local"

  devices:
    image: ${DOCKER_REGISTRY}sannelhousedevices:beta
    networks:
      housenet:
        aliases:
          - "devices.house.dev.local"
    depends_on:
      - users

networks:
  housenet:
